table {
  border: 1px solid black;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: 30rem;
  margin-top: 5rem;
}
tr {
  border: 10px solid black;
  margin-right: 10rem;
  margin-left: 10rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
th {
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 15%;
}
tr {
  width: 15%;
}
